<!DOCTYPE html>
<!--#include file="include_head.html" -->
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css"/>
        <title>Accueil</title>
    </head>

    <body>
        <header>
            <div id="logo">
                <img src="../static/img/icone_3E.png" alt="icone 3E ing"/>
            </div>
            <div id="titre_principal">
                <h1>3E ing</h1>
                <h2>Outils internes</h2>
            </div>
        </header>

        <div id="bloc_page">
            <nav id="barre-nav">
                <ul>
                    <li><a href="accueil.html">Accueil</a> </li>
                    <li><a href="/eepower">Easy EasyPower</a> </li>

                </ul>

            </nav>

            <section id="intro">
                <p>
                    Bienvenu sur le site d'outis interne de 3E ing.<br/>

                    La liste des outils disponible est située dans la barre de navigation à gauche.

                </p>
            </section>
        </div>

    </body>
</html>