<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/style.css/">
        <title>Points de changement</title>
    </head>

    <body>
        {% include "header.html" %}

        <div id="bloc_page">

            {% include "nav_barre.html" %}

            <div id="contenu">
                <h1>Outil d'analyse de points de changement</h1>
                <p>
                    Cet outils trouve les points de changement dans un fichier de données CSV et renvoie deux fichiers
                    CSV : <em>stat</em> et <em>ts</em> <br/>
                    Le CSV intrant doit contenir une colonne de date-temps (sans doublons) et doit contenir uniquement
                    des valeurs numériques.
                </p>

            </div>
        </div>
    </body>