<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css/?id">
        <title>Easy EasyPower</title>
    </head>

    <body>
        {% include "header.html" %}

        <div id="bloc_page">
            {% include "nav_barre.html" %}

            <div id="contenu">

                <section id="validation_scenario">
                    <p>
                        Selon les fichiers téléversés, votre étude comporte <em>{{nb_scen}}</em> scenario(s)
                    </p>
                </section>

                <section id="bus">
                    <h2>Précision des bus non voulus</h2>

                        Vous pouvez maintenant préciser quels bus vous ne souhaitez pas dans le rapport
                        en précisant les paterns dans le noms du bus à exclure.
                        Par exemple : <br/>

                        <div class="code">
                            <code>
                                -SEC <br/>
                                -PRIM <br/>
                                F- <br/>
                            </code><br/>
                        </div>
                        pour exclure les bus des transformateurs et des portes-fusibles dans le cas où ils seraient nommés :
                        <br/>

                        <div id="exemple_bus">
                            <img src="../static/img/bus_transfo.png" alt="Exemple de bus transfo à ne pas prendre en compte"/>
                            <img src="../static/img/fusible.png" alt="Exemple de bus fusible à ne pas prendre en compte"/>
                        </div>
                        <br/>
                        Taper le patern et appuyer sur <em>Ajouter</em> (la casse n'a pas d'importance).
                        Une fois tous les patern entrés, appuyez sur <em>Suivant</em>

                    <div id="">
                        <form method="POST">
                            <p>
                                <label for="bus">Bus : </label>
                                <input type="text" name="bus" id="bus" placeholder="Ex : -sec" size="30" maxlength="10" />
                                <input type="submit" value="Ajouter">
                                <input type="hidden" name="btn_id" value="ajouter_bus">
                            </p>
                        </form>
                    </div>

                    <div>
                        <ul id="list_bus_exclus">
                            {% for bus in bus_exclus %}
                                <li>{{bus}}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="bouton suivant">
                        <form method="POST" action="">
                            <p><input type="submit" value="Suivant"></p>
                            <input type="hidden" name="btn_id" value="suivant">
                        </form>
                     </div>


                </section>

            </div>

        </div>
    </body>

</html>