<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/style.css/">
        <title>Easy EasyPower</title>
    </head>

    <body>
        {% include "header.html" %}

        <div id="bloc_page">

            {% include "nav_barre.html" %}

            <div id="contenu">

                <section id="intro">
                    <p>
                        Bienvenu dans ce petit outil d'aide à la rédaction de rapport <br/>

                        Pour l'utiliser vous devez tout d'abord générer les fichiers de courts-circuits depuis EasyPower.<br/>

                        Pour cela, aller dans le mode <em>Short-circuit</em> et lancer la simulation.<br/>

                        Puis, générer les fichiers pour les deux fenêtres <em>LV Momentary Report</em> et <em>30 Cycle Report</em>
                        en cliquant droit dans la fenêtre et en sélectionnant : <br/> <em>Export to Microsoft Excel</em> ou <em>Export to CSV</em>
                    </p>
                    <p>
                        Renommer les fichiers pour qu'il finnissent par le numéro du scénario tel que : <br/>

                        <div class="code">

                            <code>
                                NomDuProjetEasyPower-LM_scen1.csv <br/>
                                NomDuProjetEasyPower-30 Cycle Report_scen4.xlsx <br/>
                            </code><br/>

                        </div>
                        Répeter cela pour tous les scénarios souhaités <br/>
                        Une fois que les fichiers sont prêt, téleversez les <br/>
                    </p>
                </section>

                <div id="file_selector">
                    <form method="POST" action="" enctype="multipart/form-data">
                        <p><input type="file" name="file" multiple accept=".csv,.xlsx"></p>
                        <p><input type="submit" value="Soumettre"></p>
                        <input type="hidden" name="btn_id" value="soumettre_fichier">
                    </form>

                    <div id="message">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <em>{{ message }}</em>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>

                <div class="container", id="files">
                    {% if uploaded_files == [] %}
                        Aucun fichier téléversé
                    {% else %}
                        Les fichiers téléversés sont les suivants :
                        <ul>
                            {% for file in uploaded_files %}
                                <li>{{ file }} </li>
                            {% endfor %}
                        </ul>
                        <div id="purge">
                            <form method="POST">
                                <input type="submit" value="Purger les fichiers">
                                <input type="hidden" name="btn_id" value="purger">
                            </form>

                        </div>
                    {% endif %}
                </div>

                <div id="bouton suivant">
                    {% if uploaded_files != [] %}
                        <form method="POST" action="">
                            <p><input type="submit" value="Suivant"></p>
                            <input type="hidden" name="btn_id" value="suivant">
                        </form>
                    {% endif %}
                </div>

            </div>

        </div>

    </body>
</html>