<!DOCTYPE html>
<!--#include file="include_head.html" -->
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css"/>
        <title>Accueil</title>
    </head>

    <body>
        {% include "header.html" %}

        <div id="bloc_page">

            {% include "nav_barre.html" %}

            <section id="intro">
                <p>
                    Bienvenue sur le site d'outis interne de 3E ing !<br/>

                    La liste des outils disponible est située dans la barre de navigation à gauche.

                </p>
            </section>
        </div>

    </body>
</html>