<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css/">
    <title>Ajouter une entrée</title>
</head>

<body>
{% include "header.html" %}

<div id="bloc_page">
    {% include "nav_barre.html" %}

    <div id="contenu">

        <section id="intro">

            <p>
                Bienvenue sur l'outil d'aide au développement de 3E ing !<br/>
            </p>

            <section id="numb_entry">
                <p>
                    La base de données comporte actuellement <em>{{nb_project}}</em> projets et
                    <em>{{nb_person}}</em> personnes.
                </p>
            </section>

            <div id="message">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <em>{{ message }}</em>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
            </div>

            <section id="lecture_db">
                <h2>Recherche d'entrées</h2>

                Vous pouvez préciser ici les différents éléments recherchés (tags, noms, etc.) <br/>
                Par exemple : <br/> <br>

                Indiquez les mots clefs recherchés dans la barre <cite>Tags</cite> tels que <cite>efficacité, rurale,
            maritime</cite>, etc. <br/>
                <br>

                Vous pouvez choisir l'option <cite>Tous</cite> pour que seuls les entrées comportant tous les tags
                ressortent ou l'option <cite>N'importe</cite> pour que les entrées comportant au moins un des tags
                ressortent. <br/> <br>

                Ou rentrez des informations, d'un projet, d'une personne, ou autre et cliquez sur <em>Charger projet</em>
                pour préremplir les cases en fonction des informations stockées. Vous pourrez ensuite cliquez sur modifier
                si vous désirez mettre à jour en fonction de ce qui est écrit dans les cases. </br>

                Cliquez sur <em>Afficher projet en JSON </em> pour l'afficher en brut.

                <br/> <br/>

            </section>


        {% if _type == 'project' %}
            {% include "project_entry.html" %}
        {% elif _type == 'person' %}
            {% include "person_entry.html" %}
        {% endif %}

        <form method="POST">
                <fieldset>
                    <legend>Recherche par mots clefs</legend>
                        <div class="form-control">
                            <label for="tags_searched">Mots-clefs (tags)</label>
                            <p>
                                <input type="text" name="tags_searched" id="tags_searched" placeholder="Ex : électrification" size="30" maxlength="1000" />
                                <input type="submit" name="tag_search" value="Chercher" formnovalidate="formnovalidate">
                                <input type="submit" name="save_json" value="Télécharger en JSON" formnovalidate="formnovalidate">
                                <input type="hidden" name="btn_id" value="search_tag">
                                <input type="radio" name="list_search" value="all"> Tous
                                <input type="radio" name="list_search" value="any" checked="true"> N'importe
                                <input type="radio" name="list_search" value="one_of"> Un de ceux-là
                            </p>
                        </div>
                </fieldset>
            </form>

    </div>

</div>
</body>

</html>