<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css/?id">
        <title>Menu outil de développement</title>
    </head>

    <body>
        {% include "header.html" %}

        <div id="bloc_page">
            {% include "nav_barre.html" %}

            <div id="contenu">

                <h2>Menu des outils d'interaction avec la base de donnée</h2>

                <li><a href="/doc_assembler">Assembleur de documents</a></li>
                <li><a href="/new_entry?type=project">Projets</a></li>
                <li><a href="/new_entry?type=person">Personnes</a></li>
                <li><a href="/download_dev_db?type=json">Télécharger la base de données en JSON</a></li>
                <li><a href="/download_dev_db?type=csv">Télécharger la base de données en CSV</a></li>
<!--                <li><a href="/upload_dev_db">Téléverser une base de données</a></li>-->



            </div>

        </div>
    </body>

</html>