<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css/?id">
        <title>Outil de développement</title>
    </head>

    <body>
        {% include "header.html" %}

        <div id="bloc_page">
            {% include "nav_barre.html" %}

            <div id="contenu">

                <section id="intro">
                <p>
                    Bienvenue sur l'outil d'aide au developpement de 3E ing !<br/>

                </p>
                <section id="numb_entry">
                    <p>
                        La base de données comporte actuellement <em>{{nb_project}}</em> projets et
                        <em>{{nb_person}}</em> personnes.
                    </p>
                </section>

                <section id="lecture_db">
                    <h2>Recherche d'entrées</h2>

                    Vous pouvez préciser ici les différents éléments recherchés (tags, noms, etc.) <br/>
                    Par exemple : <br/> <br>

                    Indiquez les mots clefs recherchés dans la barre <cite>Tags</cite> tels que <cite>efficacité, rurale,
                maritime</cite>, etc. <br/>
                    <br>

                    Vous pouvez choisir l'option <cite>Tous</cite> pour que seuls les entrées comportant tous les tags
                    ressortent ou l'option <cite>N'importe</cite> pour que les entrées comportant au moins un des tags
                    ressortent. <br/> <br>

                    Ou tapez le nom de la compagnie, d'une personne, ou autre vous cherchez dans la barre de recherche
                    correspondante. <br/> <br/>

                    <br/> <br/>

                    <div id="get_language">
                        <form method="POST">
                            <p>
                                <label> Langue : </label>
                                <input type="hidden" name="btn_id" value="select_language">
                                <input type="radio" name="language" value="fr" checked="true"> Français
                                <input type="radio" name="language" value="en"> Anglais
                            </p>
                        </form>
                    </div>

                    <br>


                    <div id="get_tags">
                        <form method="POST">
                            <p>
                                <label for="tags">Tags : </label>
                                <input type="text" name="tag" id="tag" placeholder="Ex : électrification" size="30" maxlength="1000" />
                                <input type="submit" value="Chercher">
                                <input type="hidden" name="btn_id" value="chercher_tags">
                                <input type="radio" name="list_search" value="all"> Tous
                                <input type="radio" name="list_search" value="any" checked="true"> N'importe
                                <input type="radio" name="list_search" value="one_of"> Un de ceux-là
                            </p>
                        </form>
                    </div>

                    <div>
                        <ul id="list_tags">
                            {% for tag in tags %}
                                <li>{{tag}}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="get_title">
                        <form method="POST">
                            <p>
                                <label for="title">Titres : </label>
                                <input type="text" name="title" id="title" size="30" maxlength="100" />
                                <input type="submit" value="Chercher">
                                <input type="hidden" name="btn_id" value="chercher_titre">
                            </p>
                        </form>
                    </div>

                    <div>
                        <ul id="list_title">
                            {% for title in titles %}
                                <li>{{title}}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="get_client">
                        <form method="POST">
                            <p>
                                <label for="client"> Client : </label>
                                <input type="text" name="client" id="client" size="30" maxlength="100" />
                                <input type="submit" value="Chercher">
                                <input type="hidden" name="btn_id" value="chercher_client">
                            </p>
                        </form>
                    </div>

                    <div>
                        <ul id="list_client">
                            {% for client in clients %}
                                <li>{{client}}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="get_founder">
                        <form method="POST">
                            <p>
                                <label for="founder"> Bailleur de fonds : </label>
                                <input type="text" name="founder" id="founder" size="30" maxlength="100" />
                                <input type="submit" value="Chercher">
                                <input type="hidden" name="btn_id" value="chercher_founder">
                            </p>
                        </form>
                    </div>

                    <div>
                        <ul id="list_founder">
                            {% for founder in founders %}
                                <li>{{founder}}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="get_participant">
                        <form method="POST">
                            <p>
                                <label for="participant"> Participant : </label>
                                <input type="text" name="participant" id="participant" size="30" maxlength="100" />
                                <input type="submit" value="Chercher">
                                <input type="hidden" name="btn_id" value="chercher_participant">
                            </p>
                        </form>
                    </div>

                    <div>
                        <ul id="list_participant">
                            {% for participant in participants %}
                                <li>{{participant}}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <br/> <br/>

                    <div id="message">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <em>{{ message }}</em>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>

                    <div id="bouton chercher">
                        <form method="POST" action="">
                            <p><input type="submit" value="Chercher"></p>
                            <input type="hidden" name="btn_id" value="chercher">
                        </form>
                     </div>


                    <div id="bouton reinit">
                        <form method="POST" action="">
                            <p><input type="submit" value="Réinitialiser"></p>
                            <input type="hidden" name="btn_id" value="reinit">
                        </form>
                     </div>

                </section>

            </div>

        </div>
    </body>

</html>