<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css/?id">
    <title>Assembleur de documents</title>
</head>

<body>
    {% include "header.html" %}

    <div id="bloc_page">
        {% include "nav_barre.html" %}

        <div id="contenu">

            <section id="intro">

                <p>
                    Bienvenue sur l'outil de génération de documents<br/>
                </p>

                <section id="numb_entry">
                    <p>
                        La base de données comporte actuellement <em>{{nb_project}}</em> projets et
                        <em>{{nb_person}}</em> personnes.
                    </p>
                </section>

            </section>

            <section>
                <div class="form-control">
                    <label>Téléverser des templates :</label> </br>
                    <form method="POST" action="" enctype="multipart/form-data">
                        <p><input type="file" value="Choisir" name="upload_template" multiple accept=".docx">
                            <input type="submit" value="Soumettre">
                        </p>
                        <input type="hidden" name="btn_id" value="soumettre_fichier">
                    </form>
                </div>
            </section>


            <div id="message">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <em>{{ message }}</em>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
            </div>
            <form method="POST">
                <fieldset>
                <legend>Générer un document</legend>

                <div class="form-control">
                    <label for="language">Langue</label>
                    <input type="radio" id="language" name="language" value="fr"> Français
                    <input type="radio"               name="language" value="en"> Anglais
                    <input type="radio"               name="language" value="" checked> Tous
                </div>

                <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                <div class="form-control">
                        <label for="tags_searched">Mots-clefs (tags)</label>
                        <p>
                            <input type="text" name="tags_searched" id="tags_searched" placeholder="Ex : électrification" size="30" maxlength="1000" />
                            <input type="radio" name="tags_ls" value="all"> Tous
                            <input type="radio" name="tags_ls" value="any" checked="true"> N'importe
                            <input type="radio" name="tags_ls" value="one_of"> Un de ceux-là
                        </p>
                </div>

                <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                <div class="form-control">
                    <label for="countries">Pays</label>
                    <p>
                        <input type="text" id="countries" name="countries" placeholder="Entrer les pays où se sont déroulé les projets">
                        <input type="radio" name="countries_ls" value="all"> Tous
                        <input type="radio" name="countries_ls" value="any" checked="true"> N'importe
                        <input type="radio" name="countries_ls" value="one_of"> Un de ceux-là
                    </p>

                </div>

                <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                <div class="form-control">
                    <label for="persons">Choisir les participant-es ayant travaillé-es sur ce projet:</label> </br>
                    <p>
                        <select name="persons" id="persons" multiple>
                            {% for person in persons %}
                                <option value="{{ person['name'] }}">
                                    {{ person['name'] }}
                                </option>
                            {% endfor %}
                        </select>
                        <input type="radio" name="persons_ls" value="all"> Tous
                        <input type="radio" name="persons_ls" value="any" checked="true"> N'importe
                        <input type="radio" name="persons_ls" value="one_of"> Un de ceux-là
                    </p>

                </div>

                <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

<!--                <div class="form-control">-->
<!--                    <label for="year">Année</label>-->
<!--                    <input type="number"-->
<!--                           name="year"-->
<!--                           id="year"-->
<!--                           min="1900"-->
<!--                           max="2099"-->
<!--                           step="1"-->
<!--                           placeholder="Année du projets"-->
<!--                    />-->
<!--                </div>-->

                </br>
                <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                <p>
                    <input type="submit" name="search" value="Rechercher">
                </p>

            </fieldset>
            </form>

            <form method="POST">
                <fieldset>
                <legend>Confirmer informations</legend>
                {% if selected == True %}
                    <div class="form-control">
                    <label for="selected_persons">Choisir les CV à ajouter:</label> </br>
                    <p>
                        <select name="selected_persons" id="selected_persons" multiple>
                            {% for person in selected_persons %}
                                <option value="{{ person['name'] }}" selected>
                                    {{ person['name'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </p>
                    </div>
                    </br>

                    <div class="form-control">
                    <label for="selected_projects">Choisir les projets à ajouter:</label> </br>
                    <p>
                        <select name="selected_projects" id="selected_projects" multiple>
                            {% for project in selected_projects %}
                                <option value="{{ project['name'] }}" selected>
                                    {{ project['name'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </p>
                    </div>

                    </br>

                    <div class="form-control">
                    <label for="template">Choisir le template:</label> </br>
                    <p>
                        <select name="template" id="template" required>
                            {% for template in templates %}
                                <option value="{{ template }}">
                                    {{ template }}
                                </option>
                            {% endfor %}
                        </select>
                    </p>
                    </div>


                <p>
                    <input type="submit" name="generate" value="Générer documents">
                </p>
                {% endif %}
                </fieldset>
            </form>


        </div>

    </div>
</body>