<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css/?id">
        <title>Résultats de la recherche</title>
    </head>
    <body>
    {% include "header.html" %}

    {% for result in results %}
        <div id="bloc_page">
            
            <code>{
            {% for key, value in result.items() recursive %}
            {% if value is mapping %}
            <p>
             {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}{{key}}: {
            </p>
            {{ loop(value.items()) }}
            <p>
              {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}}
            </p>
            {% else %}
            <p>
              {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}{{key}}: {{value}},
            </p>
            {% endif %}
            {% endfor %}
            }</code>

        </div>
    {% endfor %}

    </body>

</html>