<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/css/style.css?9987849">
    <title>Générateur de poteaux électriques</title>
  </head>
  <body> {% include "header.html" %}
    <div id="bloc_page"> {% include "nav_barre.html" %}
      <div id="contenu">
        <section id="intro">
          <p> Bienvenu dans l'outil d'analyse de KML <br>
            Pour l'utiliser vous devez tout d'abord générer un fichier KML
            contenant les lignes électrique a analyser.<br>
            Les lignes doivent avoir chacune un nom différent dans Google Earth
            pour fonctionner correctement<br>
          </p>
        </section>
        <div id="file_selector">
          <form method="POST" action="" enctype="multipart/form-data">
            <p><input name="file" accept=".kml" type="file"></p>
            <p><input value="Soumettre" type="submit"></p>
            <input name="btn_id" value="soumettre_fichier" type="hidden"> </form>
          <div id="message"> {% with messages = get_flashed_messages() %} {% if
            messages %}
            <ul class="flashes">
              {% for message in messages %} <em>{{ message }}</em> {% endfor %}
            </ul>
            {% endif %} {% endwith %} </div>
        </div>
        <div class="container" ,="" id="files"> {% if uploaded_files == [] %}
          Aucun fichier téléversé {% else %} Les fichiers téléversés sont les
          suivants :
          <ul>
            {% for file in uploaded_files %}
            <li>{{ file }} </li>
            {% endfor %}
          </ul>
          <div id="purge">
            <form method="POST"> <input value="Purger les fichiers" type="submit">
              <input name="btn_id" value="purger" type="hidden"> </form>
          </div>
          {% endif %} </div>
        <div id="bouton analyser"> {% if uploaded_files != [] %}
          <form method="POST" action="">
            <p><input value="Analyser le fichier" type="submit"></p>
            <input name="btn_id" value="analyze" type="hidden"> </form>
          {% endif %} </div>
        <br>
        {% if file_submit == 1 %}
        <div id="traitement_lp">
          <div id="pole">
            <form class="b_traitement" method="POST" action="">
              <p><input value="Générer la position des poteaux" type="submit"></p>
              <input name="btn_id" value="pole" type="hidden"> <label>Espacement
                entre les poteaux</label>
              <p><input class="mesure" id="dist_pole" name="dist_pole" value="100"
                  min="10" max="500" step="1" type="number"> m</p>
            </form>
            <div class="telecharger"> {% if file_ready and pole %} Fichier prêt
              !
              <form method="POST" action="">
                <p><input value="Télécharger" type="submit"></p>
                <input name="btn_id" value="telecharger" type="hidden"> </form>
              {% endif %} </div>
          </div>
          <br>
          <div id="parallele">
            <form class="b_traitement" method="POST" action="">
              <p><input value="Générer des lignes parallèles" type="submit"></p>
              <input name="btn_id" value="parallele" type="hidden"> <label>Espacement
                entre les lignes parallèles</label>
              <p><input class="mesure" id="dist_line" name="dist_line" value="2"
                  min="1" max="50" step="1" type="number"> m</p>
              <br>
              <label>Distance maximale entre la ligne centrale et la dernière
                ligne parallèle </label>
              <p><input class="mesure" id="dist_max_line" name="dist_max_line" value="2"
                  min="1" max="100" step="1" type="number"> m</p>
              <br>
            </form>
            <div class="telecharger"> {% if file_ready and parallele %} Fichier
              prêt !
              <form method="POST" action="">
                <p><input value="Télécharger" type="submit"></p>
                <input name="btn_id" value="telecharger" type="hidden"> </form>
              {% endif %} </div>
          </div>
        </div>
        <div><br>
        </div>
        <div>{% endif %} {% if file_ready%}
          <div id="terminer">
            <form method="POST" action="">
              <p><input value="Terminé" type="submit"></p>
              <input name="btn_id" value="terminer" type="hidden"> </form>
          </div>
          {% endif %} </div>
      </div>
    </div>
  </body>
</html>
