<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css?7987645">
        <title>Générateur de poteaux électriques</title>
    </head>

    <body>
        {% include "header.html" %}

        <div id="bloc_page">

            {% include "nav_barre.html" %}

            <div id="contenu">

                <section id="intro">
                    <p>
                        Bienvenu dans l'outil d'analyse de KML <br/>

                        Pour l'utiliser vous devez tout d'abord générer un fichier KML contenant les lignes électrique
                        a analyser.<br/>

                        Les lignes doivent avoir chacune un nom différent dans Google Earth pour fonctionner correctement<br/>

                    </p>
                </section>

                <div id="file_selector">
                    <form method="POST" action="" enctype="multipart/form-data">
                        <p><input type="file" name="file" accept=".kml"></p>
                        <p><input type="submit" value="Soumettre"></p>
                        <input type="hidden" name="btn_id" value="soumettre_fichier">
                    </form>

                    <div id="message">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <em>{{ message }}</em>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>

                <div class="container", id="files">
                    {% if uploaded_files == [] %}
                        Aucun fichier téléversé
                    {% else %}
                        Les fichiers téléversés sont les suivants :
                        <ul>
                            {% for file in uploaded_files %}
                                <li>{{ file }} </li>
                            {% endfor %}
                        </ul>
                        <div id="purge">
                            <form method="POST">
                                <input type="submit" value="Purger les fichiers">
                                <input type="hidden" name="btn_id" value="purger">
                            </form>

                        </div>
                    {% endif %}
                </div>

                <div id="bouton analyser">
                    {% if uploaded_files != [] %}
                        <form method="POST" action="">
                            <p><input type="submit" value="Analyser le fichier"></p>
                            <input type="hidden" name="btn_id" value="analyze">
                        </form>
                    {% endif %}


                </div>

                <br/>

                {% if file_submit == 1 %}
                    <div id="traitement_lp">
                        <div id="pole">
                                <form class="b_traitement" method="POST" action="">
                                    <p><input type="submit" value="Générer la position des poteaux"></p>
                                    <input type="hidden" name="btn_id" value="pole">
                                </form>
                                <form class="b_traitement" method="POST" action="">
                                    <p>Espacement entre les poteaux</p>
                                    <p><input class="mesure" name="dist_pole" value="100" min="10" max="500" step="1" type="number"> m</p>
                                </form>

                                <div class="loader">
                                    {% if loader and pole %}
                                        {% include "loader.html" %}
                                    {% endif %}
                                </div>
                        </div>

                        <br/>

                        <div id="parallele">
                            <form class="b_traitement" method="POST" action="">
                                <p><input type="submit" value="Générer des lignes parallèles"></p>
                                <input type="hidden" name="btn_id" value="parallele">
                            </form>
                            <form class="b_traitement" method="POST" action="">
                                <p>Espacement entre les lignes parallèles</p>
                                <p><input class="mesure" name="dist_line" value="2" min="1" max="50" step="1" type="number"> m</p> <br/>
                                <p>Distance maximale entre la ligne centrale et la dernière ligne parallèle </p>
                                <p><input class="mesure" name="dist_max_line" value="2" min="1" max="100" step="1" type="number"> m</p> <br/>
                            </form>

                            <div class="loader">
                                {% if loader and parallele %}
                                    {% include "loader.html" %}
                                {% endif %}
                            </div>

                        </div>

                </div>
                {% endif %}


            </div>

        </div>

    </body>
</html>