<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une personne</title>
</head>
<body>
    <form method="POST">
            <fieldset>
                <legend>Personne</legend>
                <div class="form-control">
                    <label for="name">Nom*</label>
                    <input
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Entrer le nom de la personne"
                            value = "{{ prefill['name'] }}"
                            required
                    />
                    <p>
                        <input type="submit" name="load" value="Charger" formnovalidate="formnovalidate">
                    </p>
                </div>

                <div class="form-control">
                    <label for="language_person">Langue</label>
                    <input type="radio" id="language_person" name="language" value="fr" {{ prefill['fr'] }}> Français
                    <input type="radio"               name="language" value="en" {{ prefill['en'] }}> Anglais
                </div>

                <div class="form-control">
                    <label for="job">Poste*</label>
                    <input type="text"
                           id="job"
                           name="job"
                           placeholder="Entrer le titre du poste"
                           value="{{ prefill['job'] }}"
                           required/>
                </div>

                <div class="form-control">
                    <label for="birthday">Date de naissance*</label>
                    <input
                            type="date"
                            id="birthday"
                            name="birthday"
                            value="{{ prefill['birthday'] }}"
                            required
                    />
                </div>


                <div class="form-control">
                    <label for="email">Courriel*</label>
                    <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Entrer le courriel de la personne"
                            value="{{ prefill['email'] }}"
                            required
                    />
                </div>

                <div class="form-control">
                    <label for="tel">Téléphone</label>
                    <input
                            type="tel"
                            id="tel"
                            name="tel"
                            value="{{ prefill['tel'] }}"
                            placeholder="Entrer le téléphone de la personne"
                    />
                </div>

                <div class="form-control">
                    <label for="company">Companie*</label>
                    <input
                            type="company"
                            id="company"
                            name="company"
                            placeholder="Entrer le nom de la compagnie auquel appartient la personne"
                            value="{{ prefill['company'] }}"
                            required
                    />
                </div>

                <div class="form-control">
                    <label for="residency">Pays de résidence*</label>
                    <input
                            type="text"
                            id="residency"
                            name="residency"
                            placeholder="Entrer le nom de la compagnie auquel appartient la personne"
                            value="{{ prefill['residency'] }}"
                            required
                    />
                </div>

                <div class="form-control">
                    <label for="person_tags">Mots-clefs (tags)*</label>
                    <input
                            type="text"
                            id="person_tags"
                            name="person_tags"
                            placeholder="Entrer des mots clefs séparés par une virgule (ex: électrification, hydro, etc.)"
                            value="{{ prefill['person_tags'] }}"
                            required
                    />
                </div>

                <div class="form-control">
                    <label for="associate_project">Choisir les projets sur lesquels la personne a travaillé:</label> </br>
                    <select name="associate_project" id="associate_project" multiple>
                        {% for project in projects %}
                            <option value="{{ project['name'] }}"
                                {% if project['name'] in prefill['associate_project'] %}
                                    selected
                                {% endif %}
                                >
                                {{ project['name'] }}
                                </option>
                        {% endfor %}
                    </select>
                </div>

                <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                <div class="form-control">
                    <label for="person_body">Présentation de la personne</label>
                    <textarea
                            id="person_body"
                            name="person_body"
                            cols="30"
                            rows="10"
                            placeholder="Entrer la description de la personne, ses projets passés, ses employeurs, etc."
                            required
                    >{{ prefill['body'] }}</textarea>
                </div>

                <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">


                <div class="form-control">
                    <label for="experience">Expérience de la personne</label>
                    <table id="experience" name="experience">
                        <tr>
                            <th>Date de départ</th>
                            <th>Date de fin</th>
                            <th>Nom de l’employeur</th>
                            <th>Titre professionnel/poste</th>
                            <th>Référence</th>
                            <th>Pays</th>
                            <th>Sommaire</th>
                        </tr>
                        {% for num_xp in range(1, max_xp) %}
                        <tr>
                            <td><input
                                type="date"
                                id="xp_start_date_{{ num_xp }}"
                                name="xp_start_date_{{ num_xp }}"
                                value="{{ prefill['xp_start_date_{{ num_xp }}'] }}"
                                />
                            </td>
                            <td><input
                                type="date"
                                id="xp_stop_date_{{ num_xp }}"
                                name="xp_stop_date_{{ num_xp }}"
                                value="{{ prefill['xp_stop_date_{{ num_xp }}'] }}"
                                />
                            </td>
                            <td><input
                                type="text"
                                id="xp_employer_{{ num_xp }}"
                                name="xp_employer_{{ num_xp }}"
                                value="{{ prefill['xp_employer_{{ num_xp }}'] }}"
                                />
                            </td>
                            <td><input
                                type="text"
                                id="xp_job_title_{{ num_xp }}"
                                name="xp_job_title_{{ num_xp }}"
                                value="{{ prefill['xp_job_title_{{ num_xp }}'] }}"
                                />
                            </td>
                            <td><input
                                type="text"
                                id="xp_reference_{{ num_xp }}"
                                name="xp_reference_{{ num_xp }}"
                                value="{{ prefill['xp_reference_{{ num_xp }}'] }}"
                                />
                            </td>
                            <td><input
                                type="text"
                                id="xp_country_{{ num_xp }}"
                                name="xp_country_{{ num_xp }}"
                                value="{{ prefill['xp_country_{{ num_xp }}'] }}"
                                />
                            </td>
                            <td><input
                                type="text"
                                id="xp_summary_{{ num_xp }}"
                                name="xp_summary_{{ num_xp }}"
                                value="{{ prefill['xp_summary_{{ num_xp }}'] }}"
                                />
                            </td>
                        </tr>
                        {% endfor %}

                        <input type="submit" value="Ajouter" name="add_xp" class="submit-btn" formnovalidate="formnovalidate"/>
                        <input type="submit" value="Retirer" name="del_xp" class="submit-btn" formnovalidate="formnovalidate"/>

                    </table>

                            <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                            <div class="form-control">
                                <label for="custom_entry_keyword">Entrée(s) libre(s)</label>
                                <input
                                        type="text"
                                        id="custom_entry_keyword"
                                        name="custom_entry_keyword"
                                        placeholder="Entrer les noms de champs personnalisés séparés par des virgules (ex: 'Sous-région', 'employé local')"
                                        value="{{ prefill['custom_entry_keyword'] }}"
                                />
                            </div>

                            <div class="form-control">
                                <label for="custom_entry_value">Entrée(s) libre(s)</label>
                                <input
                                        type="text"
                                        id="custom_entry_value"
                                        name="custom_entry_value"
                                        placeholder="Entrer les noms de valeurs des champs personnalisés correspondant aux mots clefs respectivement séparés par des virgules (ex: 'Beauce', 'Marc Arcand')"
                                        value="{{ prefill['custom_entry_value'] }}"
                                />
                            </div>
                </div>


                </br>
                <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">
                </br>

                <input type="submit" value="Enregister personne" name="save" class="submit-btn"/>
            </fieldset>
        </form>


</body>
</html>