<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Entrée projet</title>
</head>
<body>
        <form method="POST">
                    <fieldset>
                        <legend>Projet</legend>

                            <div class="form-control">
                                <label for="language">Langue</label>
                                <input type="radio" id="language" name="language" value="fr" {{ prefill['fr'] }}> Français
                                <input type="radio"               name="language" value="en" {{ prefill['en'] }}> Anglais
                            </div>

                            <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                            <div class="form-control">
                                <label for="name">Nom*</label>
                                <input type="text" id="name" name="name" placeholder="Entrer le nom du projet"
                                        required
                                        value="{{ prefill['name'] }}"/>
                                        <p>
                                            <input type="submit" name="load" value="Charger" formnovalidate="formnovalidate">
                                        </p>
                            </div>

                            <div class="form-control">
                                <label for="countries">Pays*</label>
                                <input type="text" id="countries" name="countries" placeholder="Entrer les pays où se sont déroulé le projet (séparé par des ';')"
                                       value ="{{ prefill['countries'] }}"
                                required/>
                            </div>

                            <div class="form-control">
                                <label for="locations">Localité</label>
                                <input
                                        type="text"
                                        id="locations"
                                        name="locations"
                                        placeholder="Entrer la localité ou le lieu où s'est déroulé le projet"
                                        value ="{{ prefill['locations'] }}"
                                />
                            </div>

                            <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                            <div class="form-control">
                                <label for="client">Client*</label>
                                <input
                                        type="text"
                                        id="client"
                                        name="client"
                                        placeholder="Entrer le nom du client ou de la compagnie"
                                        value ="{{ prefill['client'] }}"
                                        required
                                />
                            </div>

                            <div class="form-control">
                                <label for="client_address">Adresse du client</label>
                                <input
                                        type="text"
                                        id="client_address"
                                        name="client_address"
                                        placeholder="Entrer l'adresse du client ou de la compagnie"
                                        value ="{{ prefill['client_address'] }}"
                                />
                            </div>

                            <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                            <div class="form-control">
                                <label for="founder">Bailleur de fond</label>
                                <input
                                        type="text"
                                        id="founder"
                                        name="founder"
                                        placeholder="Entrer le nom du bailleur de fond"
                                        value ="{{ prefill['founder'] }}"
                                />
                            </div>

                            <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                            <div class="form-control">
                                <label for="reference">Référence</label>
                                <input
                                        type="text"
                                        id="reference"
                                        name="reference"
                                        placeholder="Entrer le nom nom du contact référent (ajoutez des infos en les séparant par des ';')"
                                        value ="{{ prefill['reference'] }}"
                                />
                            </div>

                            <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                            <div class="form-control">
                                <label for="contract_value">Valeur du contrat*</label>
                                <input
                                        type="number"
                                        id="contract_value"
                                        name="contract_value"
                                        placeholder="Entrer le montant total du contrat"
                                        min="0"
                                        step="100"
                                        value="{{ prefill['contract_value'] }}"
                                        required
                                />
                            </div>

                            <div class="form-control">
                                <label for="service_value">Valeur du service*</label>
                                <input
                                        type="number"
                                        id="service_value"
                                        name="service_value"
                                        placeholder="Entrer le montant que l'on nous a octroyé pour le service"
                                        min="0"
                                        step="100"
                                        value="{{ prefill['service_value'] }}"
                                        required
                                />
                            </div>

                            <div class="form-control">
                                <label for="currency">Monnaie*</label>
                                <input type="radio" id="currency" name="currency" value="EUR" {{ prefill['EUR'] }}> €
                                <input type="radio"               name="currency" value="CAD" {{ prefill['CAD'] }}> $ CAD
                                <input type="radio"               name="currency" value="USD" {{ prefill['USD'] }}> $ US

                            </div>


                            <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                            <div class="form-control">
                                <label for="start_date">Date de début du projet*</label>
                                <input
                                        type="date"
                                        id="start_date"
                                        name="start_date"
                                        value="{{ prefill['start_date'] }}"
                                        required
                                />
                            </div>

                            <div class="form-control">
                                <label for="stop_date">Date de fin du projet*</label>
                                <input
                                        type="date"
                                        id="stop_date"
                                        name="stop_date"
                                        value="{{ prefill['stop_date'] }}"
                                        required
                                />
                            </div>

                            <div class="form-control">
                                <label for="duration">Durée du projet (mois)</label>
                                <input
                                        type="number"
                                        id="duration"
                                        name="duration"
                                        value="{{ prefill['duration'] }}"
                                />
                            </div>


                            <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                            <div class="form-control">
                                <label for="leader">Choisir les participant-es leader ayant travaillé-es sur ce projet:</label> </br>
                                <select name="leader" id="leader">
                                    {% for person in persons %}
                                        <option value="{{ person['name'] }}"
                                                {% if prefill['leader'] %}
                                                    {% if person['name'] in prefill['leader'] %}
                                                        selected
                                                    {% endif %}
                                                {% endif %}
                                    >
                                            {{ person['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-control">
                                <label for="expert">Choisir les participant-es expert-es ayant travaillé-es sur ce projet:</label> </br>
                                <select name="expert" id="expert" multiple>
                                    {% for person in persons %}
                                        <option value="{{ person['name'] }}"
                                                {% if prefill['expert'] %}
                                                    {% if person['name'] in prefill['expert'] %}
                                                        selected
                                                    {% endif %}
                                                {% endif %}
                                    >
                                            {{ person['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-control">
                                <label for="other">Choisir les participant-es autre-s ayant travaillé-es sur ce projet:</label> </br>
                                <select name="other" id="other" multiple>
                                    {% for person in persons %}
                                        <option value="{{ person['name'] }}"
                                                {% if prefill['other'] %}
                                                    {% if person['name'] in prefill['other'] %}
                                                        selected
                                                    {% endif %}
                                                {% endif %}
                                            >
                                            {{ person['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-control">
                                <label for="staff_month">Mois-Personne</label>
                                <input
                                        type="number"
                                        id="staff_month"
                                        name="staff_month"
                                        placeholder="Entrer le nombre de mois-personne"
                                        min="0"
                                        value="{{ prefill['staff_month'] }}"
                                />
                            </div>

                            <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                            <div class="form-control">
                                <label for="associate">Choisir les associés ayant travaillé sur ce projet:</label> </br>

                                <select name="associate" id="associate" multiple>
                                    {% for person in persons %}
                                        <option value="{{ person['name'] }}"
                                                {% if prefill['associate'] %}
                                                    {% if person['name'] in prefill['associate'] %}
                                                        selected
                                                    {% endif %}
                                                {% endif %}
                                    >
                                            {{ person['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-control">
                                <label for="associate_month">Mois-Personne pour associés</label>
                                <input
                                        type="number"
                                        id="associate_month"
                                        name="associate_month"
                                        placeholder="Entrer le nombre de mois-personne pour les associés"
                                        min="0"
                                        value="{{ prefill['associate_month'] }}"
                                />
                            </div>

                            <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                            <div class="form-control">
                                <label for="project_tags">Mots-clefs (tags)*</label>
                                <input
                                        type="text"
                                        id="project_tags"
                                        name="project_tags"
                                        placeholder="Entrer des mots clefs séparés par une virgule (ex: électrification, hydro, etc.)"
                                        value="{{ prefill['tags'] }}"
                                />
                            </div>

                            <div class="form-control">
                                <label for="abstract">Résumé du projet*</label>
                                <textarea
                                        id="abstract"
                                        name="abstract"
                                        cols="30"
                                        rows="5"
                                        placeholder="Entrer le résumé du projet"
                                        required
                                >{{ prefill['abstract'] }}</textarea>
                            </div>

                            <div class="form-control">
                                <label for="project_body">Présentation du projet*</label>
                                <textarea
                                        id="project_body"
                                        name="project_body"
                                        cols="30"
                                        rows="10"
                                        placeholder="Entrer la description du projet"
                                        required

                                >{{ prefill['body'] }}</textarea>
                            </div>

                            <hr style="color: #f6f7f7; margin-left: auto; margin-right: auto;">

                            <div class="form-control">
                                <label for="custom_entry_keyword">Entrée(s) libre(s)</label>
                                <input
                                        type="text"
                                        id="custom_entry_keyword"
                                        name="custom_entry_keyword"
                                        placeholder="Entrer les noms de champs personnalisés séparés par des virgules (ex: 'Sous-région', 'employé local')"
                                        value="{{ prefill['custom_entry_keyword'] }}"
                                />
                            </div>

                            <div class="form-control">
                                <label for="custom_entry_value">Entrée(s) libre(s)</label>
                                <input
                                        type="text"
                                        id="custom_entry_value"
                                        name="custom_entry_value"
                                        placeholder="Entrer les noms de valeurs des champs personnalisés correspondant aux mots clefs respectivement séparés par des virgules (ex: 'Beauce', 'Marc Arcand')"
                                        value="{{ prefill['custom_entry_value'] }}"
                                />
                            </div>

                            <br/>
                            <br/>

                            <p>
                                    <input type="submit" name="save" value="Enregistrer">
                                    <input type="submit" name="edit" value="Modifier">
                            </p>

                    </fieldset>
                </form>
</body>
</html>